* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-background-color: darkblue;
    --foreground-text-color: white;
    --border-color: solid black;
}

nav {
    background-color: var(--primary-background-color);
    padding: 10px;
}

nav a {
    color: var(--foreground-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-background-color);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 20em;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside h2 {
    position: absolute;
    top: 25px;
    left: 80px;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 25px;
    border-top: 1px var(--border-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1em;
    border: 1px var(--border-color);
    padding: 1em;
    background-color: rgb(180, 209, 215);
    color: black;
}