* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-background-color: darkblue;
    --foreground-text-color: white;
    --border-color: solid black;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--primary-background-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--foreground-text-color);
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: var(--primary-background-color);
    border-bottom: 1.2px var(--border-color);
    padding: 2px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
    grid-column: 2 / 3;
    margin: 1rem;
}

aside {
    position: relative;
    width: 20em;
    background-color: #eee;
    color: #333;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
aside h2 {
    position: absolute;
    top: 25px;
    left: 80px;
}
aside img {
    width: 200px;
    height: auto;
}

footer {
    border-top: 1px var(--border-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1em;
    border: 1px var(--border-color);
    padding: 1em;
    background-color: rgb(180, 209, 215);
    color: black;
}

.grid {
   display: grid;
   align-items: center;
}